<h1>Cambio de password</h1>
<form action="/api/session/passwordchangemail" method="POST">
   
    <input type="text" name="email" placeholder="Ingrese email" >
    
   
<button>Cambio de password</button>

</form>