<h1>Plantilla de login</h1>

<form action="/api/session/login" method="POST">
    <input type="text" name="email" placeholder="Ingrese email" >
    <input type="password" name="password" placeholder="Ingrese password" >
<button>Iniciar sesion</button>

</form>

<a href="/api/session/github">Entrar con Github</a>

<form action="/register" method="GET">
                <input type="submit" value="Registro">
            </form>

<form action="/forgotpassword" method="GET">
                <input type="submit" value="Olvidé mi contraseña">
            </form>

