<h1>Ingresar nuevo password</h1>


<form action="/api/session/updatepassword/{{token}}" method="POST">
    
    <input type="password" name="password" placeholder="Ingrese nuevo password" >
<button>Cambiar password</button>